main{
    color:gray;
}

.item:hover,.item1:hover,.item2:hover{
    position:relative;
    top:2px;
    left:2px;
    cursor:pointer;
}

#grid{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 1fr;
    margin:auto;
    width:95%;
    max-width: 1240px;
    height:100vh;
    margin-top:20px;
    margin-bottom: 20px;

}
.item{
    background-color: white;
    height: 350px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 1px rgb(150, 150, 150);
}
.item #background{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 35%    
}
.item #header,.item1 #header,.item2 #header{
    flex-grow:1;
    font-size: 1.2em;
    padding:12px;
}
.item #main,.item1 #main,.item2 #main{
    flex-grow:1;
    padding-left:12px;
    padding-right:12px;
}
.item #footer,.item1 #footer,.item2 #footer{
    color:rgb(159, 159, 159);
    padding:12px;
    padding-bottom:17px;
}
.item1{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 350px;
}
.item2{
    grid-column: 4/6;
    grid-row:2/3;
    height:350px;
}

.item1,.item2{
    background-color: white;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px 1px rgb(150, 150, 150);
}
.item1 #background,.item2 #background{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 70%;
}




@media (max-width:500px){
    #grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-auto-flow : dense;
    }
    .item2{
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

@media (min-width:501px) and (max-width:800px){
    #grid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-auto-flow: column dense;
    }
    .item2{
        grid-column: 2/4;
        grid-row: 4/5;
    }

}
@media (min-width:800px) and (max-width:1000px){
    #grid{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
    }
}

